@font-face {
  font-family: "ia";
  src: url('ia.eot?t=1780189652206'); /* IE9*/
  src: url('ia.eot?t=1780189652206#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('ia.woff2?t=1780189652206') format('woff2'),
  url('ia.woff?t=1780189652206') format('woff'),
  url('ia.ttf?t=1780189652206') format('truetype'),
  url('ia.svg?t=1780189652206') format('svg');
}

[class^="ia-"], [class*=" ia-"] {
  font-family: 'ia' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ia-amulet::before { content: "\ea01"; }
.ia-anvil-rune::before { content: "\ea02"; }
.ia-anvil::before { content: "\ea03"; }
.ia-arrow-down-fill::before { content: "\ea04"; }
.ia-arrow-down::before { content: "\ea05"; }
.ia-arrow-left-fill::before { content: "\ea06"; }
.ia-arrow-left::before { content: "\ea07"; }
.ia-arrow-right-all::before { content: "\ea08"; }
.ia-arrow-right::before { content: "\ea09"; }
.ia-arrow-up-fill::before { content: "\ea0a"; }
.ia-arrow-up::before { content: "\ea0b"; }
.ia-belt::before { content: "\ea0c"; }
.ia-bird::before { content: "\ea0d"; }
.ia-bolt::before { content: "\ea0e"; }
.ia-book::before { content: "\ea0f"; }
.ia-boots::before { content: "\ea10"; }
.ia-bow::before { content: "\ea11"; }
.ia-campfire::before { content: "\ea12"; }
.ia-cave::before { content: "\ea13"; }
.ia-cement::before { content: "\ea14"; }
.ia-centrifuge::before { content: "\ea15"; }
.ia-chakram::before { content: "\ea16"; }
.ia-check::before { content: "\ea17"; }
.ia-chestplate::before { content: "\ea18"; }
.ia-chevron-down::before { content: "\ea19"; }
.ia-chevron-left::before { content: "\ea1a"; }
.ia-chevron-right::before { content: "\ea1b"; }
.ia-chevron-up::before { content: "\ea1c"; }
.ia-circle-fill::before { content: "\ea1d"; }
.ia-circle::before { content: "\ea1e"; }
.ia-claw::before { content: "\ea1f"; }
.ia-cloak-dagger::before { content: "\ea20"; }
.ia-cloak::before { content: "\ea21"; }
.ia-clock::before { content: "\ea22"; }
.ia-coins::before { content: "\ea23"; }
.ia-connect::before { content: "\ea24"; }
.ia-crossbow::before { content: "\ea25"; }
.ia-crossed-swords::before { content: "\ea26"; }
.ia-dagger::before { content: "\ea27"; }
.ia-dam::before { content: "\ea28"; }
.ia-death-book::before { content: "\ea29"; }
.ia-diamond::before { content: "\ea2a"; }
.ia-druidic-staff::before { content: "\ea2b"; }
.ia-edit::before { content: "\ea2c"; }
.ia-electricity::before { content: "\ea2d"; }
.ia-electroliser::before { content: "\ea2e"; }
.ia-external::before { content: "\ea2f"; }
.ia-factory-2::before { content: "\ea30"; }
.ia-factory::before { content: "\ea31"; }
.ia-fiberglass::before { content: "\ea32"; }
.ia-filter::before { content: "\ea33"; }
.ia-fire::before { content: "\ea34"; }
.ia-fist::before { content: "\ea35"; }
.ia-flail::before { content: "\ea36"; }
.ia-flask-2::before { content: "\ea37"; }
.ia-flask::before { content: "\ea38"; }
.ia-forge-2::before { content: "\ea39"; }
.ia-forge-rune::before { content: "\ea3a"; }
.ia-forge::before { content: "\ea3b"; }
.ia-foundry::before { content: "\ea3c"; }
.ia-generator::before { content: "\ea3d"; }
.ia-glass-rect::before { content: "\ea3e"; }
.ia-glass::before { content: "\ea3f"; }
.ia-gloves::before { content: "\ea40"; }
.ia-greataxe::before { content: "\ea41"; }
.ia-greatsword::before { content: "\ea42"; }
.ia-grid::before { content: "\ea43"; }
.ia-group::before { content: "\ea44"; }
.ia-gunblade::before { content: "\ea45"; }
.ia-halberd::before { content: "\ea46"; }
.ia-hammer::before { content: "\ea47"; }
.ia-hand-fire::before { content: "\ea48"; }
.ia-hard-hat::before { content: "\ea49"; }
.ia-harpy::before { content: "\ea4a"; }
.ia-hat::before { content: "\ea4b"; }
.ia-helmet::before { content: "\ea4c"; }
.ia-hexagon-fill::before { content: "\ea4d"; }
.ia-hexagon::before { content: "\ea4e"; }
.ia-holy-book::before { content: "\ea4f"; }
.ia-house::before { content: "\ea50"; }
.ia-ingot::before { content: "\ea51"; }
.ia-jagged-axe::before { content: "\ea52"; }
.ia-katana::before { content: "\ea53"; }
.ia-key::before { content: "\ea54"; }
.ia-knight::before { content: "\ea55"; }
.ia-knives::before { content: "\ea56"; }
.ia-leaf::before { content: "\ea57"; }
.ia-lens::before { content: "\ea58"; }
.ia-list::before { content: "\ea59"; }
.ia-lock::before { content: "\ea5a"; }
.ia-lock2::before { content: "\ea5b"; }
.ia-lute::before { content: "\ea5c"; }
.ia-mace::before { content: "\ea5d"; }
.ia-marker-circle::before { content: "\ea5e"; }
.ia-marker::before { content: "\ea5f"; }
.ia-market::before { content: "\ea60"; }
.ia-mining-press::before { content: "\ea61"; }
.ia-mountain::before { content: "\ea62"; }
.ia-mug::before { content: "\ea63"; }
.ia-ninja-star::before { content: "\ea64"; }
.ia-nuclear-barrel::before { content: "\ea65"; }
.ia-nuclear-reactor::before { content: "\ea66"; }
.ia-ocean-wave::before { content: "\ea67"; }
.ia-orb-magic::before { content: "\ea68"; }
.ia-orb::before { content: "\ea69"; }
.ia-ore-crusher::before { content: "\ea6a"; }
.ia-pants::before { content: "\ea6b"; }
.ia-pentagram::before { content: "\ea6c"; }
.ia-person::before { content: "\ea6d"; }
.ia-pickaxe::before { content: "\ea6e"; }
.ia-pistol::before { content: "\ea6f"; }
.ia-plane-divided::before { content: "\ea70"; }
.ia-plane::before { content: "\ea71"; }
.ia-plus::before { content: "\ea72"; }
.ia-pot::before { content: "\ea73"; }
.ia-potion::before { content: "\ea74"; }
.ia-quarry::before { content: "\ea75"; }
.ia-question-mark::before { content: "\ea76"; }
.ia-recycle-tank::before { content: "\ea77"; }
.ia-rift::before { content: "\ea78"; }
.ia-ring::before { content: "\ea79"; }
.ia-rock-2::before { content: "\ea7a"; }
.ia-rock::before { content: "\ea7b"; }
.ia-runic-blade::before { content: "\ea7c"; }
.ia-sceptre::before { content: "\ea7d"; }
.ia-scroll::before { content: "\ea7e"; }
.ia-scythe::before { content: "\ea7f"; }
.ia-search::before { content: "\ea80"; }
.ia-shack::before { content: "\ea81"; }
.ia-shield::before { content: "\ea82"; }
.ia-skeleton::before { content: "\ea83"; }
.ia-slingshot::before { content: "\ea84"; }
.ia-solar-panel::before { content: "\ea85"; }
.ia-solar::before { content: "\ea86"; }
.ia-spear::before { content: "\ea87"; }
.ia-square-divided::before { content: "\ea88"; }
.ia-square::before { content: "\ea89"; }
.ia-staff::before { content: "\ea8a"; }
.ia-star-fill::before { content: "\ea8b"; }
.ia-star::before { content: "\ea8c"; }
.ia-store::before { content: "\ea8d"; }
.ia-sword::before { content: "\ea8e"; }
.ia-tongs::before { content: "\ea8f"; }
.ia-totem::before { content: "\ea90"; }
.ia-trash::before { content: "\ea91"; }
.ia-tree::before { content: "\ea92"; }
.ia-triangle-fill::before { content: "\ea93"; }
.ia-triangle::before { content: "\ea94"; }
.ia-trident::before { content: "\ea95"; }
.ia-turbine::before { content: "\ea96"; }
.ia-vampire::before { content: "\ea97"; }
.ia-vault::before { content: "\ea98"; }
.ia-vitrification::before { content: "\ea99"; }
.ia-wand::before { content: "\ea9a"; }
.ia-water::before { content: "\ea9b"; }
.ia-whip::before { content: "\ea9c"; }
.ia-wind-blade::before { content: "\ea9d"; }
.ia-wind-tower::before { content: "\ea9e"; }
.ia-windmill::before { content: "\ea9f"; }
.ia-winged-shield::before { content: "\eaa0"; }
.ia-world::before { content: "\eaa1"; }
.ia-yinyang::before { content: "\eaa2"; }


