@font-face {
    font-family: pokemon_pixel_font;
    src: url('assets/pokemon_pixel_font.otf');
}

/*
█▄█ ▀█▀ █▄ ▄█ █   
█ █  █  █ ▀ █ █▄▄ 
*/

* {
    font-family: pokemon_pixel_font;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

body {

    padding: 0;
    margin: 0;

    overflow-y: hidden;

    background-image: url("assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}


header {
    text-align: center;
}

h1 {
    color: white;
    font-size: 42px;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: #00000060;
    margin-bottom: 16px;
}

h2 {
    color: black;
    font-size: 32px;
    width: 100%;
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: #FFFFFF77;
    border-radius: 16px;
}

h3 {
    color: white;
    font-size: 32px;
    padding: 4px;
    margin: 4px;
    margin: 0;
}

h4 {
    font-size: 32px;
    margin: 0;
    color: black;
}

h5 {
    font-size: 24px;
    color: black;
}

/* h3 {
    color: black;
    font-size: 24px;
    width: 100%;
    padding: 4px;
    margin: 0;
} */

img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

canvas {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;

    /* border: black solid 3px  ; */
    border-radius: 15px;
    margin: auto;
}

input {
    background-color: #b2b7be;
    color: #35373a;
    font-size: 24px;
}

button:focus { 
    outline: none;
}

::placeholder {
    color: #878b90;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #878b90;
}

::-ms-input-placeholder {
    color: #878b90;
}

/*
▄▀▀ █   ▄▀▄ ▄▀▀ ▄▀▀ ██▀ ▄▀▀ 
▀▄▄ █▄▄ █▀█ ▄█▀ ▄█▀ █▄▄ ▄█▀ 
*/

.container {
    max-width: 100%;
}

.alert {
    font-size: 32px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    margin: 16px;
    background-color: #FFFFFFAA;
}

.btn {
    border-radius: 16px;
    padding: 0 8px;
    margin: 4px;
    border-bottom: 2px solid #1111BB; 
    font-size: 20px;
    cursor:pointer;  
    background-image: linear-gradient(-10deg,#005abb,#007bff );
}

.btn:hover{
    margin-top: 6px;
    border-bottom: 0;
}

.card-deck {
    margin: 0;
    /* padding: 20px 0 0 0; */
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.scroller {
    overflow-y: "scroll";
    flex: 1 1 auto;
}

.pokeTab{
    position: relative;
    width: 100%;
}

.tabContent {
    width: 100%;
    position: absolute;
    top: 85px;
    left: 0;
    height: calc(100%-626px);
    max-height: calc(100%-626px);
    padding: 0 16px 0 16px;
}

.pokeHeader {
    color: white;
    font-size: 42px;
    width: 100%;
    margin: 0 0 16px 0;
    padding: 10px;
    text-align: center;
    background-color: #00000060;
}

/* 
▄▀▄ █▀▄ █▀▄ 
█▀█ █▀  █▀   */

.App {
    position: absolute;
    height: 100%;
    width: 100%;
}

#appContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#appContent.sidebarActive{
    left: 300px;
    width: calc(100% - 300px);
}

/*
▄▀▀ █ █▀▄ ██▀ ██▄ ▄▀▄ █▀▄ 
▄█▀ █ █▄▀ █▄▄ █▄█ █▀█ █▀▄ 
*/

#sidebarButton {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000000;
    border: 0 !important;
    padding: 0;
    z-index: 10000;
}

#sidebarButton.buttonOff {
    left: 300px;
}

#sidebar {
    border: 0;
    border-radius: 0;
    height: 100%;
    width: 300px;
    background-color: #2c2e31;
}

#sidebar .logo{
    top: 0;
    text-align: center;
    padding: 5px 0;
}

#sidebar a {
    font-size: 32px;
}

#sidebar img {
    transform: translateY(-2px);
}

#sidebar ul li a {
    margin: 0;
    padding: 8px;
}

#sidebar li {
    cursor: pointer;
    padding: 8px 4px;
}

#sidebar li img {
    margin-right: 16px;
}

#sidebar li.active {
    background-color: #4b535c;
}

#sidebar li:hover {
    background-color: #00000022;
}

#sidebar li.active:hover {
    background-color: #404549;
}

#sidebar li a {
    color: #FFFFFFAA;
}

#sidebar li:hover a {
    text-decoration: none;
    color: #FFFFFFFF;
}

#pageContent {
    display: block;
    float: left;
    overflow-y: scroll;
    max-height: calc(100vh-96px);
    /* `${window.innerHeight - 80 - 16}px` */
}

/*
█ █ █ ██▀ █   █ ▄▀▀ 
▀▄▀ █ █▄▄ ▀▄▀▄▀ ▄█▀ 
*/

.DropdownButton {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

.DropdownButton .btn {
    padding: 0 6px 0 6px;
    border-bottom: 2px solid #1111BB;
}

.DropdownButton .btn:hover ::after {
    transform: translate(-12px, 2px);
}

.DropdownButton .btn:hover {
    border: 0;
}

.DropdownButton ::after {
    transform: translate(3px, 3px);
}

.DropdownButton ul{
    width: 100%;
}

.DropdownButton a{
    font-size: 20px;
}

.TeamView .row {
    margin-bottom: 20px;
}

.TeamView #HeldPokemon {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../img/reflection.png);
    background-repeat: no-repeat;
    width: 195px;
    pointer-events: none;
    left: -1000px;
    top: -1000px;
}

.PokemonView {
    position: relative;
    border-radius: 16px;
    background-color: #FFFFFFAA;
    box-sizing: content-box;
    padding: 0;
    min-width: 250px;
    max-height: 305px;
    margin-right: 64px;
    margin-bottom: 16px;
}

.PokemonView.opened {
    display: inline-block;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}

.PokemonView.closed {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
}

.PokemonView .pokemon-main{
    width: 250px;
    max-width: 250px;
    padding-right: 0;
}

.PokemonView .pokemon-secondary {
    height: 100%;
    padding: 16px 64px 0 0;
}

.PokemonView p{
    font-size: 24px;
    color: black;
}

.PokemonView .card-img-top{
   width: 192px;
   margin: auto;
}

.PokemonView .card-body{
    padding: 0 10px 10px 10px;
}

.PokemonView .pokemon-tabs {
    position: absolute;
    top: 10px;
    left: 240px;
    height: 300px;
    /* background-color: cyan; */
    z-index: 1;
}

.PokemonView .pokemon-tabs{
    opacity: 0;
    transform: translateX(-20px);
    transition: all 200ms;
}

.PokemonView:hover .pokemon-tabs {
    opacity: 100%;
    transform: translateX(0px);
}

.PokemonView.closed > .pokemon-tabs {
    opacity: 100%;
    transform: translateX(0px);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.PokemonView .pokemon-tab {
    height: 60px;
    display: block;
    border-radius: 100px;
    margin-bottom: 14px;
    overflow: hidden;
    cursor:pointer;  
    background-image: linear-gradient(-45deg,#004b9b,#007bff );
    border: 1px solid rgba(0, 0, 0, 0.322);
}

.PokemonView .pokemon-tab.selected {
    background-image: linear-gradient(45deg,#007bff, #b4d8ff,#007bff);
    border: 1px solid rgba(255, 255, 255, 0.322);
}

.PokemonView .pokemon-tab img {
    width: 60px;   
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
:-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #555555; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555555; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white; 
}

.PokemonView h4 {
    text-align: center;
}

.HealthBar {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    border: #00000077 solid 1px;
    box-sizing: content-box;
}

.HealthBar .bar {
    display: inline;
    float: left;
}

.HealthBar .text {
    position: absolute;
    font-size: 18px;
    transform: translateY(-3px);
    padding-left: 8px;
    color: white;
    text-align: left;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.5),
        1px 1px 0 rgba(0, 0, 0, 0.5),
        1px -1px 0 rgba(0, 0, 0, 0.5),
        -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.RenameModal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.RenameModal {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
}

.RenameModal .modal-dialog {
    left: 0;
}

.RenameModal .modal-content {
    border-radius: 16px;
}

.RenameModal .modal-header {
    padding: 0 0 0 16px;
}

.RenameModal h5 {
    font-size: 32px;
    padding: 0;
    color: white;
}

.RenameModal .close {
    margin: -5px 0 0 0;
}

.RenameModal input {
    font-size: 32px;
}

.GymSlotView {
    margin-bottom: 32px;
}

.GymSlotView h4{
    margin: 12px 0 0 0;
}

.GymSlotView .card {
    background-color:  #FFFFFFAA;
    border-radius: 16px;
}

.AllSpritesView h3{
    font-size: 32px;
    padding: 8px 8px 8px 32px;
    margin: 16px auto 16px 16px;
    background-color: #FFFFFFAA;
}

.AllSpritesView button{
    margin: 8px
}

.AllSpritesView img{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1000px;
    margin: 5px;
}

/* 
█▄ ▄█ ▄▀▄ █▀▄ 
█ ▀ █ █▀█ █▀   */

canvas {
    z-index: 10;
    margin-bottom: 16px;
}

.MapView .col-right-wrapper .card-deck {
    margin-top: 0;
}

.MapView .title .btn {
    float: right;
    margin-top: 16px;
}

.MapView .title .DropdownButton {
    float: right;
}

.MapView h3 {
    display:inline-block;
}

.MapView .DropdownButton .btn{
    width: 100px;
}

.MapView #right-panel {
    max-height: 748px;
    overflow-y: scroll;
}

.MapHoverViewWrapper {
    position: relative;
}

.MapHoverView {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    background-color: #000000AA;
    padding: 5px 20px;
    pointer-events:none;
    margin-bottom: 10px;
    border-radius: 16px;
    transform: translateY(-100%);
}

.MapHoverView .header{
    font-size: 24px;
}

.MapHoverView .content{
    font-size: 20px;
}

.EncounterView {
    position: relative;
    background-color: #FFFFFFAA;
    padding: 0px 0px;
    border-radius: 16px;
    margin: 8px;
    width: 192px;
    min-width: 192px;
    max-width: 192px;
    height: 192px;
    min-height: 192px;
    max-height: 192px;
}

.EncounterView img {
    position: absolute;
    top: 0;
    left: 0;
}

.EncounterView img.sil {
    filter: contrast(0%) brightness(0%);
}

.EncounterView p {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 10px 0 0 0;
    color: black;
}

.QuestView {
    background-color: #FFFFFFAA;
    padding: 8px 0 0 0 ;
    border-radius: 16px;
    margin: 8px;
}

.QuestView p {
    color: black;
    font-size: 20px;
}

.PokemonChoiceButton {
    color: black;
    font-size: 20px;
}

.PokemonChoiceButton img{
    border-radius: 1000px;
}

.PokemonChoiceButton :hover {
    background-color: #FFFFFFAA;
}

.BattleView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000AA;
    z-index: 10;
}

.BattleView .container {
    background-color: #FFFFFFAA;
    border-radius: 16px;
    margin: 64px auto;
    width: 600px;
    height: 424px;
}

.BattleView h3 {
    width: 100%;
    text-align: center;
    color: black;
}

.BattleView {
    color: black;
}

.BattleView img {
    width: 192px;
}

.BattleView .fightBox {
    position: relative;
    height: 280px;
}

.BattleView .fightBox .pokemon {
    width: 300px;
}

.BattleView .fightBox .imgWrapper {
    width: 300px;
}

.BattleView .fightBox .pokemon.myPokemon {
    position: absolute;
    right: 0;
    bottom: 0;
}

.BattleView .fightBox .pokemon.otherPokemon {
    position: absolute;
    left: 0;
    top: 0;
}

.BattleView .fightBox .imgWrapper {
    text-align: center;
}

.BattleView .fightBox .otherPokemon.imgWrapper {
    position: absolute;
    right: 0;
    top: 0;
}

.BattleView .fightBox .myPokemon.imgWrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
.BattleView .fightBox .myPokemon img {
    transform: translateY(50px);
    transform: translateX(-30px);
}

.BattleView .buttons {
    font-size: 24px;
    padding: 16px 0 16px 16px;
}

.BattleView h4 .level {
    float: right;
    margin-right: 16px;
}

.BattleView .buttons .btn {
    float: right;
    margin-right: 16px;
}

.BattleView #pokeballImg{
    position: absolute;
}

.InfoTab h3{
    background-color: #00000077;
    padding-left: 24px;
}

.InfoTab .textbox {
    background-color: #000000AA;
    margin: 24px;
    padding: 8px 16px;
    font-size: 24px;
    border-radius: 16px 4px 4px 16px;
    max-height: 200px;
    overflow-y: scroll;
}

.InfoTab .textbox a{
    padding-left: 6px;
    padding-right: 6px;
    color: #b1b1f3;
}

.InfoTab .textbox a:hover{
    color: #ffffff;
    text-decoration: none;
}


/* ON PHONES ONLY */
@media screen and (max-width: 800px) and (orientation: portrait) { 
    body {
        overflow-y: visible;
    }
    
    #appContent{
        position: relative;
        left: 0px;
        width: 100%;
        overflow-y: visible;
        max-height: 99999px;
    }
    
    #appContent.sidebarActive{
        position: relative;
        left: 0px;
        width: 100%;
    }
    #sidebar {
        width: 100%;
    }
    #sidebarButton {
        display: none;
    }

    .MapView #right-panel {
        max-height: 10000px;
        overflow-y: visible;
    }

    .MapView canvas {
        display: block;
    }

    .HealthBar {
        max-width: calc(60vw);
    }

    .BattleView .container {
        margin: 32px auto;
        height: auto;
    }

    .BattleView .fightBox .pokemon {
        width: 250px;
    }

    .BattleView .fightBox .imgWrapper {
        width: 200px;
    }

    .BattleView .buttons .btn {
        float: none;
        margin-left: 0;
    }

    .BattleView .HealthBar {
        max-width: calc(50vw);
    }
}