/*
▄▀▀ ▄▀▄ █▄ ▄█ █▄ ▄█ ▄▀▄ █▄ █ 
▀▄▄ ▀▄▀ █ ▀ █ █ ▀ █ ▀▄▀ █ ▀█ 
*/

body {
    padding: 0;
    margin: 0;
    color: white;
    background-color: #00002e;
    font-family: 'Open-Sans', sans-serif;
    overflow: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    color: white;
    font-weight: bold;
    font-size: large;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

a {
    font-family: 'Open-Sans', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

a:hover {
    color: #0000;
    text-shadow: 0 0 5px #1c82d6FF;
}

/*
 █   ▄▀▄ ▄▀  █ █▄ █   ▄▀▀ ▄▀▀ █▀▄ ██▀ ██▀ █▄ █
 █▄▄ ▀▄▀ ▀▄█ █ █ ▀█   ▄██ ▀▄▄ █▀▄ █▄▄ █▄▄ █ ▀█
*/

#game_screen {
    display: none;
}

#login_screen {
    text-align: center;
}

#login_screen .header {
    margin-top: 10%;
    font-weight: bold;
    font-size: 84px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#login_screen .header.sub {
    font-size: 20px;
    margin: 5px 0 20px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#login_screen .login_screen_input {
    text-align: center;
    width: 100%;
    border: 0;
    margin: 4px 0;
    padding: 4px 0;
    font-weight: bold;
    font-size: large;
    background: linear-gradient(90deg,
            /**/
            #1c82d600 0%,
            /**/
            #1c82d6FF 40%,
            /**/
            #1c82d6AA 60%,
            /**/
            #1c82d600 100%
            /**/
        );
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

::placeholder {
    color: #000;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000;
}

.centered {
    width: 100%;
}

#login_text,
#autoconnect,
#login_text_failed {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: large;
    width: 256px;
    border: 0;
    padding: 4px;
    /* transition: display 0s linear 0.33s, opacity 0.33s linear; */
}

#autoconnect {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#login_text {
    display: none;
}

#login_text_failed {
    display: block;
    color: rgb(214, 28, 28);
    height: 35px;
    box-sizing: border-box;
}

#login_button {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: large;
    width: 128px;
    border: 0;
    padding: 4px;
    cursor: pointer;
}

#login_button:hover {
    color: #0000;
    /* color: #1c82d600; */
    /* color: #FFFFFFAA; */
    /* text-shadow: 0 0 3px #1c82d6FF, 0 0 5px #1c82d6FF; */
    text-shadow: 0 0 5px #1c82d6FF;
}

/*
 _____ _____ _____ _____    _____ _____ _____ _____ _____ _____ 
|   __|  _  |     |   __|  |   __|     | __  |   __|   __|   | |
|  |  |     | | | |   __|  |__   |   --|    -|   __|   __| | | |
|_____|__|__|_|_|_|_____|  |_____|_____|__|__|_____|_____|_|___|
           
 ▄▀  ▄▀▄ █▄ ▄█ ██▀   ▄▀▀ ▄▀▀ █▀▄ ██▀ ██▀ █▄ █
 ▀▄█ █▀█ █ ▀ █ █▄▄   ▄██ ▀▄▄ █▀▄ █▄▄ █▄▄ █ ▀█

*/

#game_screen {
    user-select: none;
}

#p5container {
    /* margin: 0px; */
    /* width: 100%; */
    /* height: 100%; */
    /* margin: 5px; */
    overflow: hidden;
    /* box-sizing: border-box; */
}

#textbox_wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 300px;
    margin: 16px 16px;
    display: flex;
    flex-direction: column;

    color: white;
}

#textbox_input {
    background-color: rgba(255, 255, 255, 0.055);
}

#textbox_chat {
    word-wrap: break-word;
    flex: auto;
    background-color: rgba(255, 255, 255, 0.055);
    margin-bottom: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*
 ▄▀▀ █ █▀▄ ██▀ ██▄ ▄▀▄ █▀▄
 ▄██ █ █▄▀ █▄▄ █▄█ █▀█ █▀▄
*/

#sidebar_button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#sidebar {
    position: absolute;
    width: 300px;
    height: 100%;
    right: 0px;
    top: 0px;
    /* margin: 5px; */
    padding: 10px 20px 20px 20px;
    font-size: 0;
    text-align: center;
    background-color: #39404f;
    border: solid #272b33 4px;
    border-width: 4px 4px 4px 4px;
    box-sizing: border-box;
    z-index: 10;
}

#sidebar #close_button {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;
    font-size: 16px;
}

#sidebar .infoline {
    padding: 5px;
    text-align: left;
    font-size: 16px;
}

#sidebar .button {
    padding: 8px;
    background-color: #5f6574AA;
    border: solid 2px #272b33AA;
    border-radius: 2px;
    margin: 4px 0;
    display: inline-block;
    font-size: 16px;
}

#sidebar .button:hover {
    background-color: #5f6574;
    border: solid 2px #272b33;
    cursor: pointer;
}

#sidebar hr {
    border: solid 1px #272b33;
}

#sidebar .text {
    font-size: 16px;
    padding: 4px 0;
}

/*
██▀ █▀▄ █ ▀█▀ ▄▀▄ █▀▄
█▄▄ █▄▀ █  █  ▀▄▀ █▀▄
*/

#editing {
    border: solid 4px #272b33;
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: calc(90% - 300px);
    ;
    box-sizing: border-box;
}

#editing_top {
    width: 100%;
    height: 26px;
    font-family: 'Arial', sans-serif;
    font-size: 0;
    background-color: #39404f;
    color: #bbc2d3;
    border-bottom: solid 2px #272b33;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#editor_title {
    padding: 4px 0 4px 0;
    /* display: inline-block; */
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #bbc2d3;
    pointer-events: none;
    background-color: #39404f;
    /* background-color: #00AA0055; */
    /* z-index: 10; */
}

@keyframes example {
    from {
        color: #55FF55;
    }

    to {
        color: bbc2d3;
    }
}

#editor_shortcuts {
    float: right;
    /* text-align: right; */
    font-family: 'Arial', sans-serif;
    /* background-color: red; */
    color: #bbc2d3;
    padding-left: 2px;
    z-index: 20;
    /* left: 100%; */
    /* transform: translateX(-100%); */
}

#editor_menu {
    float: left;
    z-index: 20;
}

#editing_corner {
    /* background-color: #272b33; */
    background-color: #00000000;
    /* background-color: red; */
    width: 8px;
    height: 8px;
    float: right;
    transform: translate(7px, -1px);
}

#editing_corner:hover {
    background-color: #bbc2d3;
    border-radius: 5px;
}

#editor_shortcuts .button {
    display: inline-block;
    font-size: 16px;
    padding: 2px 4px 2px 4px;
    margin: 2px 2px 2px 0;
    background-color: #2d313b;
    cursor: pointer;
}

#editor_shortcuts .button:hover {
    background-color: #272b33;
}

#editor_menu div {
    display: inline-block;
}

#editor_menu .menu_item {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 100%;
    padding: 4px 8px 4px 4px;
}

#editor_menu .menu_item:hover {
    background-color: #2d313b;
}

#editor_menu .sub_menu {
    position: absolute;
    display: none;
    background-color: #39404f;
    border: solid 2px #272b33;
    z-index: 10;
}

#editor_menu .menu_item:hover+.sub_menu {
    display: block;
}

#editor_menu .sub_menu:hover {
    display: block;
}

#editor_menu .sub_menu .sub_menu_item {
    display: block;
    cursor: pointer;
    padding: 4px;
    font-size: 16px;
}

#editor_menu .sub_menu .sub_menu_item:first-child {
    margin: 0;
}

#editor_menu .sub_menu .sub_menu_item:hover {
    background-color: #2d313b;
}

#editor {
    z-index: 0;
}

#prompt {
    display: none;
    position: absolute;
    background-color: #171a22a1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#prompt #message_box {
    font-family: 'Arial', sans-serif;
    text-align: center;
    width: 300px;
    height: 100px;
    left: 50%;
    top: 40%;
    position: absolute;
    transform: translate(-50%, -100px);
    background-color: #39404f;
    padding: 16px;
    border: solid #272b33 4px;
}

#prompt #message_box .message {
    display: inline-block;
    width: 200;
}

#prompt #message_box #answers {
    position: absolute;
    width: 300px;
    bottom: 16px;
    align-items: center;
}

#prompt #message_box #answers .button {
    display: inline-block;
    padding: 6px;
    width: 64px;
    background-color: #2d313b;
    cursor: pointer;
}

#prompt #cancel {
    display: none;
}

#newtab_arrow,
#newtab_text {
    color: #AAAAFF;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#newtab_text {
    padding: 4px 14px 0 0;
    display: none;
}

#newtab_text:hover,
#newtab_arrow:hover+#newtab_text {
    display: block;
    color: #FFFF;
}

#type_list {
    display: inline-block;
    width: 150px;
    height: 100%;
    box-sizing: border-box;
    border-left: solid #272b33 2px;
}

.typeListTitle {
    margin: 0 0 2px 0;
    padding: 0px;
    color: #747B8B;
    background-color: #00000000;
    font-size: 16px;
    border: solid 1px #00000000;
    text-align: center;
}

.list_type {
    margin: 0 0 2px 0;
    padding: 4px;
    color: #747B8B;
    background-color: #20232b;
    font-size: 16px;
    border: solid 1px #20232b;
}

.list_type:hover {
    color: #bbc2d3;
    background-color: #1A1C23;
}

.list_type.selected {
    color: #bbc2d3;
    border: solid 1px #FFFFFF55;
    background-color: #1A1C23;
}

body .ace_scrollbar-v {
    overflow-y: auto;
}

body .ace_scrollbar-h {
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}