@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');

* {
    font-family: 'Ysabeau SC';
    user-select: none;
}

body {
    --size: 64px;
    --color1: rgba(255, 255, 255, 0.123);
    --color2: rgba(255, 255, 255, 0.329);
    margin: 0;
    background-color: rgb(23, 24, 26);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#doubleContainer {
    width: 275px;
}

#container {
    /* position: absolute; */
    /* left: 100px; */
    /* top: 100px; */
    background-color: rgba(255, 255, 255, 0.1);
}

.cell {
    width: var(--size);
    height: var(--size);
    background-color: rgba(255, 255, 255, 0.1);
}

.letter {

    width: var(--size);
    height: var(--size);
    background-color: beige;
    display: flex;
    justify-content: center;
    font-size: var(--size);
    border-radius: 10px;
    cursor: pointer;
    line-height: 64px;
}

.divisor {
    height: 20px;
}

.spacer {
    width: 60px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

#bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    color: white;
    font-size: 30px;
    display: inline-block;
    margin-right: 30px;
}

#nextLetter {
    background-color: white;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    background-color: rgba(255, 255, 255, 0.1);
}

#centre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#objectives {
    width: 140px;
    margin-top: 93px;
}

#donewords {
    width: 140px;
    margin-top: 93px;
    overflow: hidden;
    height: 369px;
}

.objective {
    color: white;
    font-size: 30px;
    margin-right: 30px;
    background-color: rgb(165, 126, 75);
    border-radius: 10px;
    text-align: center;
    /* line-height: 26px; */
    margin: 15px;
    padding: 0 15px 5px 15px;
}

.doneword {
    color: white;
    font-size: 30px;
    margin-right: 30px;
    background-color: rgb(46, 116, 138);
    border-radius: 10px;
    text-align: center;
    /* line-height: 26px; */
    margin: 15px;
    padding: 0 15px 5px 15px;
}

#cleans {
    width: 275px;
    text-align: center;
}

svg {
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

#donewords2 {
    display: none;
}

@media only screen and (max-width: 600px) {

    h1 {
        margin: 10px 0 10px 0;
    }

    #donewords,
    #objectives,
    #cleans {
        margin: 0;
        display: flex;
        flex-direction: row;
        height: 80px;
        width: 100vw;
        overflow-x: scroll;
    }

    svg {
        min-width: 40px;
    }

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative;
        width: 100vw;
        flex-direction: column;
    }

    #centre {
        order: 0;
    }

    #objectives {
        order: 1;
    }

    #donewords {
        order: 2;
    }

}